<div
  class="container"
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutAlign="center center"
>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
    <mat-card class="reset-password-card">
      <mat-toolbar class="center">
        <span>Material App</span>
      </mat-toolbar>
      <mat-card-content>
        <mat-form-field>
          <mat-label for="password">Enter your password</mat-label>
          <input
            matInput
            type="password"
            placeholder=""
            id="password"
            formControlName="password"
          />
          <mat-icon matPrefix class="prefix"> lock_outline</mat-icon>

          <mat-error
            *ngIf="submitted || resetPasswordFormControl['password'].invalid"
            ><div
              *ngIf="
                resetPasswordFormControl['password'].errors &&
                resetPasswordFormControl['password'].errors['required']
              "
            >
              Password is required
            </div>
            <div
              *ngIf="
                resetPasswordFormControl['password'].errors &&
                resetPasswordFormControl['password'].errors['minlength']
              "
            >
              Password should be atleast 5 character
            </div>
            <div
              *ngIf="
                resetPasswordFormControl['password'].errors &&
                resetPasswordFormControl['password'].errors['invalidPassword']
              "
              class="text-danger"
            >
              Password should have minimum 5 characters, at least 1 uppercase
              letter, 1 lowercase letter and 1 number
            </div>
            <div
              *ngIf="
                resetPasswordFormControl['password'].errors &&
                resetPasswordFormControl['password'].errors[
                  'serverValidationError'
                ]
              "
            >
              {{ serverErrors["password"] }}
            </div>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label for="password_confirmation"
            >Enter your confirm password</mat-label
          >
          <input
            matInput
            type="password"
            placeholder=""
            id="password_confirmation"
            formControlName="password_confirmation"
          />
          <mat-icon matPrefix class="prefix"> lock_outline</mat-icon>

          <mat-error
            *ngIf="
              submitted ||
              resetPasswordFormControl['password_confirmation'].invalid
            "
            ><div
              *ngIf="
                resetPasswordFormControl['password_confirmation'].errors &&
                resetPasswordFormControl['password_confirmation'].errors[
                  'required'
                ]
              "
            >
              Confirm password is required
            </div>
            <div
              *ngIf="
                resetPasswordFormControl['password_confirmation'].errors &&
                resetPasswordFormControl['password_confirmation'].errors[
                  'minlength'
                ]
              "
            >
              Confirm password should be atleast 5 character
            </div>
            <div
              *ngIf="
                resetPasswordFormControl['password_confirmation'].errors &&
                resetPasswordFormControl['password_confirmation'].errors[
                  'passwordMismatch'
                ]
              "
              class="text-danger"
            >
              Confirm passwords mast be same as password
            </div>
            <div
              *ngIf="
                resetPasswordFormControl['password_confirmation'].errors &&
                resetPasswordFormControl['password_confirmation'].errors[
                  'invalidPassword'
                ]
              "
              class="text-danger"
            >
              Confirm password should have minimum 5 characters, at least 1
              uppercase letter, 1 lowercase letter and 1 number
            </div>
            <div
              *ngIf="
                resetPasswordFormControl['password_confirmation'].errors &&
                resetPasswordFormControl['password_confirmation'].errors[
                  'serverValidationError'
                ]
              "
            >
              {{ serverErrors["password_confirmation"] }}
            </div>
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="resetPasswordForm.invalid"
        >
          Reset Password
        </button>
      </mat-card-actions>
      <mat-card-actions>
        <a mat-button routerLink="/admin/register">Register now</a>
        <a mat-button routerLink="/admin/login">Login</a>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
