<form [formGroup]="editProfileForm" (ngSubmit)="onRegister()">
  <mat-card class="register-card">
    <mat-toolbar>
      <span>Edit Profile</span>
    </mat-toolbar>
    <mat-card-content>
      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayout.sm="column"
        fxLayoutAlign="start"
        fxLayoutGap="20px"
      >
        <mat-form-field>
          <mat-label for="name">Enter your name</mat-label>
          <input
            matInput
            type="text"
            placeholder=""
            id="name"
            formControlName="name"
          />
          <!-- editProfileFormControl['name'].touched -->
          <mat-error
            *ngIf="submitted || editProfileFormControl['name'].invalid"
          >
            <div
              *ngIf="
                editProfileFormControl['name'].errors &&
                editProfileFormControl['name'].errors['required']
              "
            >
              Name is required
            </div>
            <div
              *ngIf="
                editProfileFormControl['name'].errors &&
                editProfileFormControl['name'].errors['serverValidationError']
              "
            >
              {{ serverErrors["name"] }}
            </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label for="email">Enter your email</mat-label>
          <input
            matInput
            type="text"
            placeholder="pat@example.com"
            id="email"
            formControlName="email"
          />
          <mat-error
            *ngIf="submitted || editProfileFormControl['email'].invalid"
          >
            <div
              *ngIf="
                editProfileFormControl['email'].errors &&
                editProfileFormControl['email'].errors['required']
              "
            >
              Email is required
            </div>

            <div
              *ngIf="
                editProfileFormControl['email'].errors &&
                editProfileFormControl['email'].errors['email']
              "
            >
              Enter valid email
            </div>
            <div
              *ngIf="
                editProfileFormControl['email'].errors &&
                editProfileFormControl['email'].errors['serverValidationError']
              "
            >
              {{ serverErrors["email"] }}
            </div>
          </mat-error>
        </mat-form-field>
      </div>
      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayout.sm="column"
        fxLayoutAlign="start"
        fxLayoutGap="20px"
      >
        <mat-form-field>
          <mat-label for="password">Enter your password</mat-label>
          <input
            matInput
            type="password"
            placeholder=""
            id="password"
            formControlName="password"
          />

          <mat-error
            *ngIf="submitted || editProfileFormControl['password'].invalid"
            ><div
              *ngIf="
                editProfileFormControl['password'].errors &&
                editProfileFormControl['password'].errors['required']
              "
            >
              Password is required
            </div>
            <!-- <div
                *ngIf="
                  editProfileFormControl['password'].errors &&
                  editProfileFormControl['password'].errors['minlength']
                "
              >
                Password should be atleast 5 character
              </div> -->
            <div
              *ngIf="
                editProfileFormControl['password'].errors &&
                editProfileFormControl['password'].errors['invalidPassword']
              "
              class="text-danger"
            >
              Password should have minimum 5 characters, at least 1 uppercase
              letter, 1 lowercase letter and 1 number
            </div>
            <div
              *ngIf="
                editProfileFormControl['password'].errors &&
                editProfileFormControl['password'].errors[
                  'serverValidationError'
                ]
              "
            >
              {{ serverErrors["password"] }}
            </div>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label for="password_confirmation"
            >Enter your confirm password</mat-label
          >
          <input
            matInput
            type="password"
            placeholder=""
            id="password_confirmation"
            formControlName="password_confirmation"
          />

          <mat-error
            *ngIf="
              submitted ||
              editProfileFormControl['password_confirmation'].invalid
            "
            ><div
              *ngIf="
                editProfileFormControl['password_confirmation'].errors &&
                editProfileFormControl['password_confirmation'].errors[
                  'required'
                ]
              "
            >
              Confirm password is required
            </div>
            <!-- <div
                  *ngIf="
                    editProfileFormControl['password_confirmation'].errors &&
                    editProfileFormControl['password_confirmation'].errors['minlength']
                  "
                >
                  Confirm password should be atleast 5 character
                </div> -->
            <div
              *ngIf="
                editProfileFormControl['password_confirmation'].errors &&
                editProfileFormControl['password_confirmation'].errors[
                  'passwordMismatch'
                ]
              "
              class="text-danger"
            >
              Confirm passwords mast be same as password
            </div>
            <div
              *ngIf="
                editProfileFormControl['password_confirmation'].errors &&
                editProfileFormControl['password_confirmation'].errors[
                  'invalidPassword'
                ]
              "
              class="text-danger"
            >
              Confirm password should have minimum 5 characters, at least 1
              uppercase letter, 1 lowercase letter and 1 number
            </div>
            <div
              *ngIf="
                editProfileFormControl['password_confirmation'].errors &&
                editProfileFormControl['password_confirmation'].errors[
                  'serverValidationError'
                ]
              "
            >
              {{ serverErrors["password_confirmation"] }}
            </div>
          </mat-error>
        </mat-form-field>
      </div>

      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayout.sm="column"
        fxLayoutAlign="start"
        fxLayoutGap="20px"
      >
        <div
          class="dropzone"
          fileDragDrop
          (filesChangeEmiter)="onFileChange($event)"
        >
          <div class="text-wrapper">
            <div class="centered">
              <input
                type="file"
                name="file"
                id="file"
                accept="image/*"
                (change)="onFileChange($event)"
                [multiple]="false"
              />
              <!-- <mat-icon fontSet="material-icons-outlined">face</mat-icon
                  > -->
              <label for="file"
                ><span class="textLink">Select your file</span> or Drop it
                here!</label
              >
            </div>
          </div>
        </div>
      </div>
      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayout.sm="column"
        fxLayoutAlign="start"
        fxLayoutGap="20px"
      >
        <!-- <h3 mat-subheader>Files</h3> -->
        <div
          class="row fileItem"
          *ngFor="let f of files; let ind = index; trackBy: trackByFn"
        >
          <div
            class="col-sm-12 fileItemIconDiv"
            (click)="openConfirmDialog(ind)"
          >
            <i class="fa-6x fileItemIcon"></i>
          </div>
          <div class="col-sm-12 fileItemText">
            <span>{{ f.name }}</span>
          </div>
        </div>
      </div>
      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayout.sm="column"
        fxLayoutAlign="start"
        *ngIf="display_picture"
      >
        <mat-card class="image-card">
          <img
            mat-card-lg-image
            [src]="display_picture"
            [alt]="'profile pic'"
          />
        </mat-card>
      </div>
    </mat-card-content>
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayout.sm="column"
      fxLayoutAlign="start"
      fxLayoutGap="20px"
    >
      <mat-card-actions>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="editProfileForm.invalid"
        >
          Update Profile
        </button>
      </mat-card-actions>
      <mat-card-actions>
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="onReset()"
        >
          Reset
        </button>
      </mat-card-actions>
      <mat-card-actions>
        <a routerLink="/admin" type="button" mat-raised-button color="warn"
          >Back</a
        >
      </mat-card-actions>
    </div>
  </mat-card>
</form>
